body {
	font-family:Tauri, sans-serif;
	font-size:0.9em;
	margin:0px;
}
a {
	text-decoration: none;
}

/*================================ Index CSS goes here ===============================*/
/* main color #173154
	active color #396EB3 , #274B7A*/
	
#indexTitle {
	width: auto;
	height: 50px;
	background-color:#173154;
	padding-top:9px;
	-webkit-box-sizing: border-box;  /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
	
}
#indexTitle:active{
	background-color:#274B7A;	
}

#icon {
	width: 30px;
	height: 30px;	
	float:left;
}
#labelTitle {
	color:white;
	text-align: center;
	margin: auto;
}
#labelTitle2 {
	color:white;
	text-align: center;
	font-size:0.7em;
	margin-top:6px;
}
h2 {
	font-size:0.5em;
	text-align: center;
	color:white;
	margin-top:2px;
}

#indexP1 {
	font-weight:bold;	
	text-align:left;
	text-indent:10%;
	color:black;
}
#indexH2 {
	font-size:1.1em;	
	text-align: left;
	color:#9B9EB3;
	margin-top:7%;
	margin-left:10%;
}
#indexButton {
	margin-left:10%;	
	text-align:center;
	color:blue;	
}
#indexLine {
	margin-top:1px;
	margin-bottom: 0px;
}
#inputField {
	width: auto;
	height: auto;
	margin:0 auto;
	display: block;
}
#indexSubmit {
	
}
/*==============================additem.html Css goes here=============================*/
#clearInput {
	position:relative;
}
#displayData {
	float:right;
}
#addNewEntry {
	float:right;
	display:none;	
}
legend {
	font-style:italic;
}
li {
	list-style-type: none;
}
#mediaTypeId {
	margin-left: 40px;
	font-weight:bold;
}
#mediaType {
	margin-left: 45px;
	margin-bottom:10px;	
}
#nameItem {
	display:block;
	margin-bottom:15px;
}
#genreItem {
	display:block;
	margin-bottom:15px;
}
#pubDate {
	display:block;
	margin-bottom:15px;	
}	
#lengthItem {
	display:block;
	margin-bottom:15px;	
}
#purchaseDate {
	display:block;
	margin-bottom:15px;	
}
#favCheckLabel {
	margin-left:40px;
}
#slider {
	margin-left: 15px;
	margin-top:15px;
	margin-bottom:25px;	
}
#notes {
	display:block;	
}
#submitButton {
	margin-top: 15px;	
}
#slider {
	width:45px;
}
