body {
	font-family:Tauri, sans-serif;
	font-size:0.9em;
	margin:0px;
}

/*================================ Index CSS goes here ===============================*/
/* main color #173154
	active color #396EB3 , #274B7A*/

.ui-title {
    margin     : 0.4em 1em 0.8em 140px !important;
    text-align:left !important;
   
    
}
h1.ui-title {
	display:inline !important;
	margin-left: 10px !important;
	font-size:1em !important;
	
}
.ui-btn {
	text-align:left;
	
		
}
span.ui-btn-text {
	font-size:1em !important;	
}
#icon {
	width:16px; 
	height:16px;
	margin-left:8px;
}
.ui-li-count {
	float: right;	
}
footer {
	text-align: center;	
}
.hidden{
display:none;
}

.show{
display:block;
}

.listIcon{
float:left;
} 
.marginLeft {
	margin-left:15px;	
}
#moreInfo h1 {
	color:#3C5B8C;	
}

/*==============================additem.html Css goes here=============================*/

.hintText {
	font-size:0.7em !important;
}
#resetP {
	text-align: center;	
	
}
label.error {
	color:red;
	display: block;	
}
